@font-face {
  font-family: "Bleeding";
  src: url("../../static-fonts/Bleeding_Cowboys.ttf");
}
@font-face {
  font-family: "28Days";
  src: url("../../static-fonts/28DaysLater.ttf");
}
@font-face {
  font-family: "blood";
  src: url("../../static-fonts/Blood.ttf");
}
@font-face {
  font-family: "flame";
  src: url("../../static-fonts/Flame.ttf");
}
.logo {
  font-family: "Bleeding";
  font-size: 2.5rem;
  color: #f4303af3;
  text-shadow: 2px 2px 4px #000000;
  padding: 5px 0px 0px 35px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .logo {
    padding-left: 0px;
    scale: 0.75;
  }
}
.item_header {
  @apply h-full px-3 relative flex max-w-max items-center col-span-1 text-gray-100 hover:text-yellow-300  hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer;
  font-family: "flame";
  font-size: 25px;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}
.menu_1 {
  @apply absolute top-16 left-0 w-max h-max hover:text-white;
}
.list_item {
  @apply h-max w-max grid grid-cols-3 grid-flow-row items-center justify-center rounded-lg;
  background-color: #0000008f;
}
.item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  @apply text-lg p-4 hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer;
}
.item_header:hover {
  .item {
    @apply text-white hover:text-yellow-300;
  }
}
.menu_mobile {
  @apply text-white rounded-lg;
  background-color: #0000008f;
}
.item_menu {
  @apply flex p-4 px-6 items-center justify-center hover:text-yellow-300 hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer;
  font-size: 15px;
}
.info_header {
  background-color: #0000008f;
  @apply flex-col w-max h-max text-white rounded-lg;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
  position: relative;
  right: -30px;
}
.info_item {
  @apply sm:text-lg flex  p-4 px-6 items-center  hover:text-yellow-300 hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer;
  font-size: 15px;
}
.divider {
  @apply h-0 w-full bg-gray-300;
  border: 1px solid #1d101086;
}
