@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bleeding";
  src: url("../static-fonts/Bleeding_Cowboys.ttf");
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* l?
 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2b2b2d;
}

::-webkit-scrollbar-track {
  /* background-color: black; */
}

.recommendationglobal {
  max-width: 85%;
  margin: 20px auto 0 auto;
}

@media (max-width: 1200px) {
  .recommendationglobal {
    max-width: 90%;
  }
}

@media (max-width: 900px) {
  .recommendationglobal {
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .recommendationglobal {
    max-width: 99%;
  }
}
.btn {
  @apply py-2 px-4 font-semibold rounded-lg shadow-md;
}
.btn-green {
  @apply text-white bg-green-500 hover:bg-green-700;
}
.video {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 40%, #000),
    linear-gradient(180deg, rgba(0, 0, 0, 0.624), hsla(0, 0%, 100%, 0) 30%),
    linear-gradient(270deg, hsla(0, 0%, 99%, 0) 40%, rgba(0, 0, 0, 0.541) 80%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0;
  right: 0;
}
.film_img {
  background: linear-gradient(220deg, hsla(0, 0%, 100%, 0) 25%, #000),
    linear-gradient(180deg, rgba(0, 0, 0, 0.624), hsla(0, 0%, 100%, 0) 30%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0;
  right: 0;
}
.film_img_hover {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 25%, #000),
    linear-gradient(180deg, rgba(0, 0, 0, 0.624), hsla(0, 0%, 100%, 0) 30%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0;
  right: 0;
}
.film_img_2 {
  background: linear-gradient(120deg, hsla(0, 0%, 100%, 0) 50%, #000);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0px;
  left: 0;
  right: 0;
}
.image_login {
  background: linear-gradient(270deg, hsla(0, 0%, 100%, 0) 40%, #000),
    linear-gradient(270deg, rgba(0, 0, 0, 0.624), hsla(0, 0%, 100%, 0) 30%),
    linear-gradient(0deg, hsla(0, 0%, 99%, 0) 40%, rgba(0, 0, 0, 0.541) 80%),
    linear-gradient(0deg, hsla(0, 0%, 100%, 0) 40%, #000),
    /* linear-gradient(180deg, rgba(0, 0, 0, 0.624), hsla(0, 0%, 100%, 0) 30%), */
      linear-gradient(90deg, hsla(0, 0%, 99%, 0) 40%, rgba(0, 0, 0, 0.541) 80%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px); /* Điểm xuất phát: dịch chuyển lên 50px */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Điểm đến: không dịch chuyển */
  }
}

.animate-slide-up {
  animation: slideUp 2s ease; /* 2 giây, dễ dàng chuyển động */
}
.card_bar {
  width: 0.35rem;
  height: 1.8rem;
  border-radius: 0.375rem;
  background-color: #fff;
  margin-right: 10px;
}
.no_select {
  user-select: none;
  -webkit-user-select: none;
}
.badge_div {
  @apply absolute inline-flex items-center justify-center w-7 h-7 text-xl font-bold text-white bg-slate-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900;
}
.badge_div_2 {
  @apply absolute inline-flex items-center justify-center w-7 h-7 text-xl font-bold text-white bg-slate-500   rounded-full -top-2 -end-2;
}
